<a href="https://colab.research.google.com/github/dalgual/classes/blob/main/swap.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Swap List Elements Example
### Jongwook Woo, jwoo5@calstatela.edu
Date: 06/06/2022

### References
1. https://www.geeksforgeeks.org/python-program-to-swap-two-elements-in-a-list/

In [13]:
# Swap function 1
def swapPositions1(list, pos1, pos2):     
    list[pos1] = list[pos2]
    list[pos2] = list[pos1]
    return list

In [14]:
# Driver function
List = [23, 65, 19, 90]
pos1, pos2  = 1, 2

# Element 1 and 2 are swapped? 
print(swapPositions1(List, pos1, pos2))

[23, 19, 19, 90]

In [15]:
# Swap function 2
def swapPositions2(list, pos1, pos2):
     
    tmp = list[pos1]
    list[pos1] = list[pos2]
    list[pos2] = tmp
    return list

In [16]:
List = [23, 65, 19, 90]
pos1, pos2  = 1, 2
# Element 1 and 2 are swapped 
print(swapPositions2(List, pos1, pos2))

[23, 19, 65, 90]

In [17]:
# Swap function
def swapPositions(list, pos1, pos2):
     
    list[pos1], list[pos2] = list[pos2], list[pos1]
    return list

In [18]:
List = [23, 65, 19, 90]
pos1, pos2  = 1, 2
# Element 1 and 2 are swapped 
print(swapPositions(List, pos1, pos2))

[23, 19, 65, 90]