<a href="https://colab.research.google.com/github/dalgual/classes/blob/main/time_complexity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Time Complexity Example
### Jongwook Woo, jwoo5@calstatela.edu
Date: 06/06/2022

### References
1. https://www.mygreatlearning.com/blog/why-is-time-complexity-essential/#t4

In [15]:
import time

In [16]:
# return the first element of the input arry
def first_number(arry):
  return arry[0]

In [17]:
def any_number(arry, i):
  return arry[i]

In [18]:
start = time.time()
first_elmt = first_number([12, 2, 4, 6, 9, 3, 0, 1])

print("first element = ", first_elmt," execution time: %.8f" % (time.time() - start))

first element =  12  execution time: 0.00016594

In [19]:
start = time.time()
any_elmt = any_number([12, 2, 4, 6, 9, 3, 0, 1], 5)

print("Any element = ", any_elmt," execution time: %.8f" % (time.time() - start))

Any element =  3  execution time: 0.00012159

In [20]:
start = time.time()
first_elmt = first_number([6, 9, 3, 0, 1, 12, 2, 4])

print("first element = ", first_elmt," execution time: %.8f" % (time.time() - start))
# print("first element = ", first_elmt," execution time: {}".format(time.time() - start))

first element =  6  execution time: 0.00012159

In [21]:
start = time.time()
any_elmt = any_number([6, 9, 3, 0, 1, 12, 2, 4], 5)

print("Any element = ", any_elmt," execution time: %.8f" % (time.time() - start))

Any element =  12  execution time: 0.00012326

### O(N): Linear Order

In [35]:
def summation(arry):
  a = 0
  for i in arry:
    a = a + i
    #a
  return a

In [49]:
start = time.time()
arry1 = [16, 19, 13, 10, 11, 112,12, 14, 6, 9, 3, 0, 1, 12, 2, 4]
summation(arry1)

#print(" execution time: {}".format(time.time() - start))
print(" execution time: %.8f" % (time.time() - start))

 execution time: 0.00020528

In [50]:
start = time.time()
arry2 = [6, 9, 3, 0, 1, 12, 2, 4]
summation(arry2)

#print(" execution time: {}".format(time.time() - start))
print(" execution time: %.8f" % (time.time() - start))

 execution time: 0.00015330